html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 400px;
  width: 650px;
  margin: auto;
}

.alert {
  border: 1px solid transparent;
  border-radius: 4px;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  text-align: center;
  width: fit-content;
}
