html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
}

.content.full {
  transform: scale(1);
  transition: 1s;
}

#map {
  height: 400px;
  width: 650px;
  margin: auto;
}

.alert {
  border: 1px solid transparent;
  border-radius: 4px;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  text-align: center;
  width: fit-content;
}

inputAlert {
  border: 1px solid #a94442;
}

.btn.fc {
  border-radius: 50%;
  width: 1.7rem;
  margin-left: 2px;
}
