html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
}

#map {
  height: 400px;
  width: 650px;
  margin: 0 auto;
  margin-top: 20px;
}

.alert {
  border: 1px solid transparent;
  border-radius: 4px;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  text-align: center;
  width: fit-content;
}

.btn.fc {
  border-radius: 50%;
  width: 1.7rem;
  margin-left: 2px;
}

/* Temperature Button */
.set-temp {
  width: 80px;
  height: 26px;
  background: rgb(165, 164, 164);
  margin: 20px;
  position: relative;
  float: right;
  border-radius: 50px;
}

.set-temp::after {
  content: '°F';
  color: #fff;
  position: absolute;
  right: 18px;
  z-index: 0;
  /* font-size: 1rem; */
  /* font-weight: bold; */
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}

.set-temp:before {
  content: '°C';
  color: #fff;
  position: absolute;
  left: 20px;
  z-index: 0;
  /* font-size: 1rem; */
  /* font-weight: bold; */
}
label {
  display: block;
  width: 34px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 4px;
  z-index: 1;
  background: #fff;
  border-radius: 50px;
  transition: all 0.4s ease;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
input[type='checkbox'] {
  visibility: hidden;
}
input:checked + label {
  left: 43px;
}

p.desc {
  text-transform: capitalize;
}

ul.venues {
  list-style: none;
  background-color: #e2e2e2;
}

ul img {
  width: 1.5rem;
}
