html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #403f21;
}

.navbar {
  /* background-color: #e1d4c0 !important; */
  background-color: #5b7488 !important;
  color: #f0e0c7;
}

.btn-outline-primary {
  color: #f0e0c7;
  border: 1px solid #f0e0c7;
}

.btn-outline-primary:hover {
  background-color: #f0e0c7;
  color: #5b7488;
  border: 1px solid #f0e0c7;
}

h1 {
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 1.5rem;
}

.jumbotron {
  background: transparent;
}

div.clock {
  display: none;
}

input[type='search'] {
  width: 70%;
  margin-right: 10px;
  margin-left: 0;
}

body {
  background-image: url('../images/coast.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#map {
  opacity: 0.7;
  height: 400px;
  width: 90%;
  margin: 30px auto;
}

.alert {
  margin-top: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  text-align: center;
  width: fit-content;
}

.set-temp {
  cursor: pointer;
}

p.desc {
  text-transform: capitalize;
}

ul.venues {
  width: 90%;
  margin: 0 auto;
  list-style: none;
  background-color: #e2e2e2;
  opacity: 0.8;
}

ul img {
  width: 1.5rem;
}

li.venue {
  text-align: left;
  cursor: pointer;
  padding: 3px;
  padding-left: 0;
}

img.venue {
  margin: 0 5px;
}

img.icon {
  width: 4rem;
}

/* Up to iPhone 5/SE */

@media (min-width: 400) {
  input[type='search'] {
    width: 73%;
    margin-right: 10px;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #map {
    width: 80%;
  }
  .jumbotron h4 {
    font-size: 2rem;
  }
  .jumbotron h5 {
    font-size: 1.7rem;
  }
  ul.venues {
    width: fit-content;
    margin-left: 30px;
  }

  li.venue {
    padding-right: 30px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  div.clock {
    display: inline-block;
  }

  #map {
    width: 70%;
  }

  .form-inline {
    margin-left: 15% !important;
  }
  li.venue {
    padding-right: 15px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  div.clock {
    font-size: 1.2rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .form-inline {
    margin-left: 18% !important;
  }
}
