html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #4d4925;
}

.navbar {
  background-color: #5b7488 !important;
  color: #f0e0c7;
}

.btn-outline-primary {
  color: #f0e0c7;
  border: 1px solid #f0e0c7;
}

.btn-outline-primary:hover {
  background-color: #f0e0c7;
  color: #5b7488;
  border: 1px solid #f0e0c7;
}

h1 {
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 1.5rem;
}

.jumbotron {
  background: transparent;
}

div.clock {
  display: none;
}

input[type='search'] {
  width: 70%;
  margin-right: 10px;
  margin-left: 0;
}

body {
  background-image: url('../images/coast.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#map {
  opacity: 0.7;
  height: 400px;
  width: 90%;
  margin: 50px auto;
}

.alert {
  margin-top: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  text-align: center;
  width: fit-content;
}

.set-temp {
  cursor: pointer;
}

p.desc {
  text-transform: capitalize;
  font-size: 1.875rem;
}

p.temp {
  font-size: 1.25rem;
}

ul.venues {
  width: 90%;
  margin: 0 auto;
  list-style: none;
  background-color: #e2e2e2;
  opacity: 0.8;
}

div.weather {
  background-color: rgba(103, 133, 157, 0.2);
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}

ul img {
  width: 1.5rem;
}

li.list-group-item {
  text-align: left;
  cursor: pointer;
  padding: 3px;
  padding-left: 0;
  text-transform: capitalize;
  background-color: rgba(103, 133, 157, 0.2);
  border-radius: 0 !important;
}

a {
  text-decoration: none !important;
}

img.venue {
  margin: 0 5px;
}

img.icon {
  width: 4rem;
}

p.sun {
  font-size: 1.1rem;
}

/* Logo */

.circle-container {
  font-family: cabin, sans-serif;
  position: relative;
  left: 40%;
  perspective: 1000;
  margin-top: 8px;
  font-family: 'Itim', cursive;
}

.circle-container:hover .circle {
  transform: rotate3d(45, 45, 0, 180deg);
}

.circle-container:hover .outer-ring {
  transform: rotate3d(45, 0, 0, 180deg);
}

.circle-container:hover .outer-outer-ring {
  transform: rotate3d(0, 45, 0, 180deg);
}

.circle-container,
.front,
.back {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
}

.circle,
.outer-ring,
.outer-outer-ring {
  transition: 0.5s;
  transform-style: preserve-3d;
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.circle {
  position: relative;
  width: 80px;
  height: 80px;
}

.front,
.back {
  border-radius: 50%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  background-color: #f0e0c7;
  z-index: 2;
}

.front p {
  font-weight: 700;
  text-align: center;
  font-size: 2.5rem;
  color: #5b7488;
}

.back {
  transform: rotate3d(45, 45, 0, 180deg);
  background-color: #5b7488;
  font-size: 2.5rem;
}

.back p {
  font-weight: 700;
  text-align: center;
  font-size: 2.5rem;
  color: #f0e0c7;
}

.outer-ring {
  position: absolute;
  top: -10px;
  left: -10px;
  border-radius: 50%;
  border: 2px solid #fff;
  width: 70px;
  height: 70px;
  background-color: #a1c4d7;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

.outer-outer-ring {
  position: absolute;
  top: -20px;
  left: -20px;
  border-radius: 50%;
  border: 2px solid #fff;
  width: 80px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

#apster {
  font-family: 'Itim', cursive;
  font-size: 2.7rem;
  display: none;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 135px;
}

/* Up to iPhone 5/SE */

@media (min-width: 400) {
  input[type='search'] {
    width: 73%;
    margin-right: 10px;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .circle-container {
    left: 0;
  }
  #map {
    width: 80%;
  }
  .jumbotron h4 {
    font-size: 2rem;
  }
  .jumbotron h5 {
    font-size: 1.7rem;
  }
  ul.venues {
    width: fit-content;
    margin-left: 30px;
  }

  li.venue {
    padding-right: 30px;
  }

  div.weather {
    width: 100%;
    margin-right: 5%;
  }
  div.venues {
  }

  #map {
    width: 90%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  div.clock {
    display: inline-block;
  }

  #map {
    width: 75%;
  }

  .form-inline {
    margin-left: 18% !important;
  }
  li.venue {
    padding-right: 15px;
  }

  span#apster {
    display: inline-block;
    left: 105px;
  }
  div.venues {
    margin-left: 5%;
  }
  div.weather {
    margin-right: 10%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  div.clock {
    font-size: 1.2rem;
  }

  .form-inline {
    margin-left: 20% !important;
  }

  #map {
    width: 70%;
  }

  div.venues {
    margin-left: 12%;
  }
  div.weather {
    margin-right: 17%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .form-inline {
    margin-left: 27% !important;
  }
  div.venues {
    margin-left: 18%;
  }
  div.weather {
    margin-right: 22%;
  }
  #map {
    width: 60%;
  }
}
